<!doctype html>
<html>
  <head>
    <title>Admin Page</title>
    <link href="/static/kistners.css" rel="stylesheet"/>
  </head>
  <body>
    <a href="/create-user">Create User</a>
    <br>
    <a href="/update-role">Update User Role</a>
    <br>
    <a href="/create-arrangement">Create Arrangement</a>
    <br>
    <a href="/update-arrangement">Update Arrangement</a>
    <br>
  </body>
</html>