<!doctype html>
<html>
  <head>
    <title>Account Sign-In</title>
    <link href="/static/kistners.css" rel="stylesheet"/>    
  </head>
  <body>
    <h1>Sign In</h1>
    <form method="POST" class="form">
      
      <div class="error-message">
        <%= errorMessage %>
      </div>

      <fieldset class="fieldset">

        <label for="username">Username:</label>
        <input type="text" name="username" />
        <br>
        
        <label for="password">Password:</label>
        <input type="password" name="password"/>
        <br>
        
        <input type="submit" value="Sign In"/>

      </fieldset>
      
    </form>
  </body>
</html>