<!doctype html>
<html>
  <head>
    <title>Update Password</title>
    <link href="/static/kistners.css" rel="stylesheet"/>
    
  </head>
  <body>
    <h1>Change Password</h1>
    <form method="POST">
      
      <div class="error-message">
        <%= errorMessage %>
      </div>
      
      <fieldset>
        
        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword" />

        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword"/>

        <label for="newPasswordConfirmation">New Password Confirmation:</label>
        <input type="password" name="newPasswordConfirmation"/>

        <input type="submit" value="Update Password"/>    
        
      </fieldset>
      

      
    </form>
  </body>
</html>